:root {
    --page-width: 8.5in;
    --page-height: 11in;
    --margin-top: 1in;
    --margin-right: 1in;
    --margin-bottom: 1in;
    --margin-left: 1in;
}

.pages {
    margin: auto;
    width: var(--page-width);
}

@media screen {
    .pages {
        /* visibility: hidden; */
        /* height: 1px; */
    }

    .page {
        box-shadow: 0 0 0 1px black;
        margin: 2em auto;
    }
}

.page {
    display: grid;
    grid-template-columns: [left] var(--margin-left) [center] calc(var(--page-width) - var(--margin-left) - var(--margin-right)) [right] var(--margin-right);
    grid-template-rows: [top] var(--margin-top) [center] calc(var(--page-height) - var(--margin-top) - var(--margin-bottom)) [bottom] var(--margin-bottom);
}

.top-left {
    grid-column: left;
    grid-row: top;
}

.top-center {
    grid-column: center;
    grid-row: top;
}

.top-right {
    grid-column: right;
    grid-row: top;
}

.left {
    grid-column: left;
    grid-row: center;
}

.right {
    grid-column: right;
    grid-row: center;
}

.bottom-right {
    grid-column: right;
    grid-row: bottom;
}

.bottom-left {
    grid-column: left;
    grid-row: bottom;
}

.bottom-center {
    grid-column: center;
    grid-row: bottom;
}

.content {
    grid-column: center;
    grid-row: center;
}